@font-face {
  font-family: "KOFIHDrLEEJWTTF-B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "KOFIHDrLEEJWTTF-B";
}
.img {
  width: 100px;
  padding: 0%;
}
li {
  padding-top: 5px;
}
.list {
  list-style: none;
  display: flex;
  font-weight: 800;
  padding: 2% 10px 10px 10px;
  font-size: 20px;
  color: rgb(57, 57, 57);
  justify-content: center;
  margin: 0;
}
.list-align {
  text-decoration: none;
  padding-left: 70px;
}
.footer {
  display: flex;
  font-size: 12px;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-img {
  width: 1000px;
}
.align {
  display: flex;
  justify-content: center;
  margin: auto;
}
body {
  margin: 0;
  background-color: rgb(243, 245, 246);
}
.footer-right {
  padding-left: 70px;
}
